<div class="container">
    <div class="row">
        <div class="col-lg shadow border m-1">
            <div class="text-center container">
                <h2>About Me 👨‍💻✨</h2>
                <img src="/saad-pic-01.jpeg" alt="" width="300" height="300" class="rounded-circle" />
                <p>Hi, I’m Saad 👋, a software engineer passionate about creating innovative solutions 🚀. With expertise in web development 🌐, .NET ⚙️, and Python 🐍, I’ve contributed to scalable web apps, efficient algorithms, and encryption techniques 🔐. My tech stack includes Angular ⚡, ASP.NET 🏗️, SignalR 🗨️, Node 🟢, Express 🚀📦, and Machine Learning 🤖, bringing creativity and technical skill to every project. 💾 Proficient in SQL 🐘, MongoDB 🍃, and Firebase 🔥, I ensure optimal data management. A problem-solver at heart 🧠, I refine my skills on LeetCode 🏆 and build impactful systems with clean, efficient code 💪.
                    Welcome to my portfolio — where innovation meets precision! 🚀
                </p>
            </div>
        </div>  
    </div>