.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
}

.modal-dialog {
  max-width: 800px;
  width: 90%;
  overflow-y: auto;  /* Allow vertical scrolling if content is large */
}

.modal-content {
  border-radius: 10px;
  text-align: left;
  max-height: 90vh;  /* Ensure modal doesn't exceed the viewport height */
  overflow-y: auto;  /* Enable vertical scrolling within the modal */
}

h4, h3, .project-text {
  text-align: left;
  padding-left: 20px;
}
